.slide-btn-color{
    background-color:#FF589B;
    margin-top: 20px;
    padding:10px 50px;
    color: white;
    font-weight: 500;

}
.fa-solid{
    margin-left: 20px;
}
.slide-text-color{
    color: white;
}